@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

main  h1 {
  @apply text-2xl font-bold py-2;
}

main label {
  @apply font-bold;
}

footer {
  @apply container text-xs mx-auto;
}

main {
  @apply container mx-auto;
}
